* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#myCoin {
  color: white;
  font-size: 2rem;
  margin-bottom: 10px;
}

.header {
  display: flex;
  width: 400px;
  height: 100px;
  background-color: black;
  color: white;
  align-items: center;
}

.middle {
  width: 400px;
  height: 500px;
  border: 1px solid black;
}

.bottom {
  width: 400px;
  height: 150px;
  border: 1px solid black;
}

.userBtn {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.userBtn-child {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid black;
}

.userBtn-child:nth-child(1) {
  background-image: url("rsp1.png");
}

.userBtn-child:nth-child(2) {
  background-image: url("rsp2.png");
}

.userBtn-child:nth-child(3) {
  background-image: url("rsp3.png");
}

.userBtn-child:not(.on):hover {
  border: 2px solid red;
}

.on .userBtn-child:not(.on):hover {
  border: 2px solid black;
}

.userBtn-child.on {
  border: 2px solid blue !important;
}

.start-btn {
  background-image: url("coinsert.png");
  width: 50px;
  height: 50px;
  border: none !important;
}

#comDisplay {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  position: absolute;
  margin: 100px 100px;
}

.comDisplay {
  animation: comSel 3s infinite;
  animation-play-state: running;
  background-repeat: no-repeat;
  background-size: cover;
}

.comDisplay.on {
  animation: comSel 0.3s infinite;
}

.comDisplay.pause {
  animation-play-state: paused;
}

#comResult {
  position: absolute;
  margin: 100px 100px;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  background-image: url("rsp1.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
}

.comResult.simg {
  background-image: url("rsp1.png") !important;
}

.comResult.rimg {
  background-image: url("rsp2.png");
}

.comResult.pimg {
  background-image: url("rsp3.png");
}

.comResult.on {
  opacity: 1 !important;
}

#rspimg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#roulette {
  position: absolute;
  background: repeating-conic-gradient(pink 0deg 22.5deg, yellow 22.5deg 45deg);
  margin: 50px 50px;
  width: 300px;
  height: 300px;
  border-radius: 150px;
}

#roulette {
  transform: rotate(12deg);
}

.windiv,
.drawdiv,
.losediv {
  width: 100px;
  height: 75px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
}

.result .windiv.on,
.result .losediv.on,
.result .drawdiv.on {
  border: 3px solid aqua;
}

#windiv {
  background-color: green;
}
#drawdiv {
  background-color: yellow;
}
#losediv {
  background-color: red;
}

.result {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

@keyframes comSel {
  0% {
    background-image: url("rsp1.png");
  }
  32.9% {
    background-image: url("rsp1.png");
  }
  33% {
    background-image: url("rsp2.png");
  }
  65.9% {
    background-image: url("rsp2.png");
  }
  66% {
    background-image: url("rsp3.png");
  }
  100% {
    background-image: url("rsp3.png");
  }
}

@keyframes rouletteSpin {
  100% {
    transform: rotate(1452deg);
  }
}

.rrdiv {
  width: 30px;
  position: relative;
  height: 30px;
  font-size: 1rem;
}

#rrdiv1 {
  left: 120px;
  top: 15px;
  transform: rotate(-10deg);
}

#rrdiv2 {
  left: 170px;
  bottom: 10px;
  transform: rotate(12.5deg);
}

#rrdiv3 {
  left: 215px;
  bottom: 20px;
  transform: rotate(35deg);
}

#rrdiv4 {
  left: 240px;
  bottom: 15px;
  transform: rotate(57.5deg);
}

#rrdiv5 {
  left: 255px;
  top: 5px;
  transform: rotate(80deg);
}

#rrdiv6 {
  left: 250px;
  top: 20px;
  transform: rotate(102.5deg);
}

#rrdiv7 {
  left: 230px;
  top: 30px;
  transform: rotate(125deg);
}

#rrdiv8 {
  left: 195px;
  top: 30px;
  transform: rotate(147.5deg);
}

#rrdiv9 {
  left: 150px;
  top: 15px;
  transform: rotate(170deg);
}

#rrdiv10 {
  left: 100px;
  bottom: 15px;
  transform: rotate(192.5deg);
}

#rrdiv11 {
  left: 55px;
  bottom: 67px;
  transform: rotate(215deg);
}

#rrdiv12 {
  left: 30px;
  bottom: 135px;
  transform: rotate(237.5deg);
}

#rrdiv13 {
  left: 15px;
  bottom: 210px;
  transform: rotate(260deg);
}

#rrdiv14 {
  left: 20px;
  bottom: 290px;
  transform: rotate(282.5deg);
}

#rrdiv15 {
  left: 40px;
  bottom: 360px;
  transform: rotate(305deg);
}

#rrdiv16 {
  left: 75px;
  bottom: 420px;
  transform: rotate(327.5deg);
}

.here {
  display: inline;
  height: 25px;
  width: 5px;
  background-color: red;
  position: absolute;
  left: 200px;
  top: 210px;
  transform: rotate(20deg);
}

.here2 {
  display: inline;
  height: 25px;
  width: 5px;
  background-color: red;
  position: absolute;
  left: 193px;
  top: 210px;
  transform: rotate(160deg);
}
